@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 60px;
    --logo-width: 200px;
    --login-width: 200px;
    --cart-width: 200px;
    --primary: #7e4ec5;
    --primary-dark: #6c37bb;
    --secondary: #ff3ba7;
    --terciary: #f8ba55;
    --shadow: 0px 7px 30px #0005;
    --header-height: 400px;
}

input, button {
    outline: none;
    border: none;
}

nav {
    display: grid;
    grid-template-columns: var(--logo-width) 1fr var(--login-width) var(--cart-width);
    grid-template-rows: var(--nav-height) var(--nav-height);
    grid-template-areas: "logo search user cart" "items items items items";
    background-color: var(--primary-dark);
    color: var(--terciary);
    font-family: 'Ubuntu', sans-serif;
    box-shadow: var(--shadow);
}

nav i {
    font-size: 1.5em;
    cursor: pointer;
    margin: 0px 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navItems {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: items;
    background-color: var(--primary);
}

#logo {
    grid-area: logo;
}

#navSearch {
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-area: search;
}

#navUser {
    grid-area: user;
    transition: 500ms;
    cursor: pointer;
}

#navUser:hover {
    background-color: #fff;
    color: var(--primary-dark);
}

#navUser div {
    display: grid;
    position: absolute;
    top: 60px;
    width: var(--login-width);
}

#navUser:hover div button{
    display: flex;
    visibility: visible;
}

#navUser div button{
    padding: 10px;
    background-color: var(--primary);
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    transition: 500ms;
    display: none;
    visibility: hidden;
}
#navUser div button:hover{
    background-color: #fff;
    color: var(--primary-dark);
}

#navCart {
    cursor: pointer;
    grid-area: cart;
    transition: 500ms;
}

#navCart:hover {
    background-color: #fff;
    color: var(--primary-dark);
}

#navSearch input {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0px 20px;
    font-size: 1.5em;
    color: var(--terciary);
}

#navSearch button {
    color: var(--primary-dark);
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
}

#navItems button {
    margin: auto 20px;
    padding: 10px;
    background-color: var(--primary-dark);
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 500ms;
}

#navItems button:hover {
    background-color: #fff;
    color: var(--primary-dark);
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background-color: #ccc;
    background: url('../img/indexImg.jpg');
    background-repeat: none;
    background-size: cover;
}

#intro h1 {
    font-family: 'Yesteryear', cursive;
    font-size: 4.2em;
    color: var(--primary-dark);
    text-shadow: 2px 0px 0px #fff;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

#navCart div {
    display: none;
    position: absolute;
    top: 60px;
    width: var(--login-width);
    background-color: #fff;
    color: var(--primary-dark);
    padding: 20px;
}
.prodTable{
    display: flex;
}
.prodTable img{
    width: 100px;
}
#cart{
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: 'Ubuntu', sans-serif;
}
#cart aside, #cart section{
    padding: 30px;
}
#cartTable{
    width: 100%;
}
.resumoItem{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
#cart tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1.5px solid #ddd;
}
#cart table{
    width: 100%;
}